<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>y-project</title>
    <script defer="defer" src="/static/js/chunk-vendors.445322eb.js"></script>
    <script defer="defer" src="/static/js/app.b1db3df9.js"></script>
    <link href="/static/css/chunk-vendors.7c88cb4c.css" rel="stylesheet">
    <link href="/static/css/app.9e726cba.css" rel="stylesheet">
</head>

<body><noscript><strong></strong></noscript>
    <div id="app"></div>
</body>

</html>